.chatRoom {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 10px;
}

.contactsWrapper{
    margin: 0px 10px;
}
.contact a {
    display: inline-block;
    padding: 10px;
    width: 80%;

}

.contact a:hover {
    background-color: gray;
    opacity: 80%;
}

.newsMessageInput {
    display: flex;
}



.chatMessage{
height: 650px;
}
.messageWrapper {

}
.message  {
    padding: 10px;
    margin: 0 0 20px 0;
    max-width: 80%;
    background-color: lightgray;
    border-radius: 20px;

}

.myMessage  {
    margin: 0 0 10px 15%;
    background-color: lightblue;
    text-align: right;
}

.active {
    color: blue;
}

.contact img {
     height: 30px;
     margin: 0px 10px 0px 0px;
 }



